<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Author</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="../static/assets/img/hamburguesa.png" alt class="menu-abrir" id="open">
        <h1 class="h1-responsive"><a href="./index.html"><img src="../static/assets/img/logo.png" alt=""></a></h1>
        <nav class="nav" id="nav">
            <img src="../static/assets/img/cerrar.png" class="btn-close" id="close" alt="">
            <ul class="nav-list">
                <li><a class="btn-menu" href="./index.html">Home</a></li>
                <li><a class="btn-menu active" href="./about-author.html">About Author</a></li>
                <h1><a class="btn-menu" href="./index.html"><img src="../static/assets/img/logo.png" alt="logo"></a></h1>
                <li><a class="btn-menu" href="./blogs.html">Blogs</a></li>
                <li><a class="btn-menu" href="./book-shop.html">Book Shop</a></li>
                <li><a class="btn-menu contact-btn" href="./contact-us.html" > Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about-author-section">
            <h2>About Author</h2>
            <p class="p-about-author">Martie Smith, a bilingual Coach and Airforce Veteran was born in Colombia, South America but has moved 49 times in her lifetime. Learning from different cultures, surgeries and traumas obtained many life lessons. Now residing in North Carolina alongside her husband and partner of 40 years decided to share these tips to live a purpose-driven life journey with flexibility and resilience. <br>
                Martie has rebuilt and transformed her life and adopted a mission and vision to leave a legacy of hope for those open to implementing her helpful tips. They have come in handy for her to now live a vibrant and joyful life. <br>
                The people who learn from her see her as an example that others want to follow and be inspired.</p>
            <img src="../static/assets/img/martie.jpg" alt="">
        </section>
        <section class="testimonial-section">
            <h2 class="h2-testimonials">Testimonials from Book Readers and Coaching Clients</h2>
            <div class="testimonials">

                <div class="div-testimonials">
                <p class="p-testimonials">
                It is beautiful to see Martie's story of overcoming, the process and her view of the situations she had to go through.
                A pleasure to meet you!!!!More
                </p>
                <div class="div-star-testimonials">
                <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                </div>
                <p class="p2-testimonials">
                Maju Ruiz
                </p>
                </div>
                
                <div class="div-testimonials">
                <p class="p-testimonials">
                From the moment we met personally, we hit it off. Wait... that came out wrong...
                
                What we did is we collaborated on our Course for Young Professionals in their Start up Phase after our initial zoom call. And that came out right!
                
                So, if you're hungry for more goodness from Martie watch her space. It's going to be empowering on end!
                </p>
                <div class="div-star-testimonials">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                </div>
                <p class="p2-testimonials">
                Diana AM. Joice
                </p>
                </div>
                
                <div class="div-testimonials">
                <p class="p-testimonials">
                Meeting Martie and hearing her story of resilience was an incredible experience. She is truly a remarkable individual, brimming with wisdom. Her triumphs in the face of adversity and her dedication to spreading her message to the world are deeply inspiring. Martie's journey and the insights she shares have the power to uplift and motivate anyone who hears her. I'm grateful for the opportunity to connect with such an extraordinary person.
                </p>
                <div class="div-star-testimonials">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                </div>
                <p class="p2-testimonials">
                Ashley
                </p>
                </div>
                
                <div class="div-testimonials">
                <p class="p-testimonials">
                A very positive and bright person who inspires many to get out of their comfort zones! Always learning new things each time I see her. Such an amazing leader with an amazing book!!
                </p>
                <div class="div-star-testimonials">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                </div>
                <p class="p2-testimonials">
                Yvette Jimenez
                </p>
                </div>
                
                <div class="div-testimonials">
                <p class="p-testimonials">
                I loved this book, it makes you reflect a lot on various aspects of life on a deep level, the author teaches us through her experiences valuable lessons about resilience, the story of Martie Smith.
                </p>
                <div class="div-star-testimonials">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                </div>
                <p class="p2-testimonials">
                Rowen Patricio Zermeno
                </p>
                </div>
                
                <div class="div-testimonials">
                <p class="p-testimonials">
                I recently read 'RESILIENCE: Nourish the Soul, and was thoroughly impressed. Not only is the book an inspiring and thought-provoking read, but Martha's professionalism and dedication to her work are commendable. She conducts her business with integrity, always ensuring that her readers are valued and heard. Her attention to detail and commitment to delivering high-quality content make her stand out as an author. Highly recommend both her book and her approach to business!
                </p>
                <div class="div-star-testimonials">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                </div>
                <p class="p2-testimonials">
                Rotimi Tayo
                </p>
                </div>
                
                <div class="div-testimonials">
                <p class="p-testimonials">
                Working with Martie is an inspired and motivational experience. Her purposeful passion drive, discipline and delightful attitude for excellence, while being person centered is quite magical. She gets things done and coaches you to do the same. Highly recommend her books, services and speaking engagements!
                </p>
                <div class="div-star-testimonials">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                </div>
                <p class="p2-testimonials">
                Jen
                </p>
                </div>
                
                <div class="div-testimonials">
                <p class="p-testimonials">
                Martie is an incredible individual, radiating positivity and joy to everyone fortunate enough to meet her. Her uplifting posts always brighten my day and bring a smile to my face. I'm so glad I had the chance to meet her in person!
                </p>
                <div class="div-star-testimonials">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                    <img class="img-star-testimonials" src="../static/assets/img/image-2.png">
                </div>
                <p class="p2-testimonials">
                KB Vega
                </p>
                </div>
            </div>
            <div class="gmail-author">
                <p>Learn more about Martie Smith martiemsmith65@gmail.com</p>
                <a href="./survey-to-guide.html" class="btn-read-more">Survey to guide</a>
            </div>
        </section>
    </main>
    <footer>
        <section class="section1-footer">
            <div class="logo-footer" >
                <img src="../static/assets/img/ft-log.png" alt="footer-logo">
            </div>
            <div>
                <h4>Quick Links</h3>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about-author.html">About Author</a></li>
                    <li><a href="./blogs.html">Blogs</a></li>
                    <li><a href="./book-shop.html">Book Shop</a></li>
                </ul>
            </div>
            <div>
                <h4>Information</h3>
                <ul>
                    <li><a href="./contact-us.html">Contact Us</a></li>
                    <li><a href="./faq.html">FAQ</a></li>
                    <li><a href="./privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="./terms-conditions.html">Terms & Conditions</a></li>
                </ul>
            </div>
        </section>
        <section class="section2-footer">
            <p>Copyright ©2023 Martie M. Smith. All Right Reserved.</p>
            <div class="div-footer">
                <a href="https://www.facebook.com/martie.smith.37" target="_blank"><img src="../static/assets/img/simbolo-de-la-aplicacion-de-facebook (1).png" alt=""></a>
                <a href="https://www.linkedin.com/in/martie-smith-8b062025/" target="_blank"><img src="../static/assets/img/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/@MarthaSmith-t4q" target="_blank"><img src="../static/assets/img/youtube.png" alt=""></a>
                <a href="https://www.instagram.com/vinnersary/" target="_blank"><img src="../static/assets/img/logotipo-de-instagram.png" alt=""></a>
                <a href="https://www.tiktok.com/@marthasmith83" target="_blank"><img src="../static/assets/img/tik-tok.png" alt=""></a>
            </div>
        </section>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>