<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Author</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="../static/assets/img/hamburguesa.png" alt class="menu-abrir" id="open">
        <h1 class="h1-responsive"><a href="./index.html"><img src="../static/assets/img/logo.png" alt=""></a></h1>
        <nav class="nav" id="nav">
            <img src="../static/assets/img/cerrar.png" class="btn-close" id="close" alt="">
            <ul class="nav-list">
                <li><a class="btn-menu" href="./index.html">Home</a></li>
                <li><a class="btn-menu" href="./about-author.html">About Author</a></li>
                <h1><a class="btn-menu" href="./index.html"><img src="../static/assets/img/logo.png" alt="logo"></a></h1>
                <li><a class="btn-menu" href="./blogs.html">Blogs</a></li>
                <li><a class="btn-menu active" href="./book-shop.html">Book Shop</a></li>
                <li><a class="btn-menu contact-btn" href="./contact-us.html" > Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section-book-shop">
            <h2>Book Shop</h2>
            <p>Have you ever wondered how a person’s life journey can help others gain confidence? Martie’s book Resilience Nourishes the Soul brings all the answers to you. The book is the crux of the author’s life and a glimpse of a better tomorrow. <br>
                It is a book that will help you utilize some of the life-changing tips the author acquired during her journey. With this book, Martie pays an ode to the purpose-driven life. She has learned the art of transforming adversities and challenges into an adventurous life.</p>
        </section>
        <section>
            <img class="book-shop-img" src="../static/assets/img/book-shop1.jpg" alt="">
            <a target="_blank" href="https://www.amazon.com/dp/B0BPGQG621/ref=cm_sw_r_awdo_ZE502BXY4F1DKE3MD2GR_0" class="btn-read-more icono">Buy for Amazon <img src="../static/assets/img/Circled Up Right.png" alt=""></a>
        </section>
        <section class="parrafos-book-shop">
            <p>Creative Chaos Warrior is a compelling guide for anyone ready to embrace life’s messiness and turn it into a source of strength and creativity. Written by International award-winning author Martie Smith, it dives deep into the art of finding resilience amidst chaos. With practical advice, inspiring stories, and actionable steps, Creative Chaos Warriorempowers you to transform your challenges into powerful opportunities for growth and self-discovery.</p>
            <p>Whether navigating personal hardships or seeking to unleash your creative potential, this book is your roadmap to harnessing the energy of chaos and using it to fuel your journey toward a more fulfilling and empowered life. Join the Creative Chaos Warrior community and start your journey today. Discover how not just to survive chaos but thrive in it!</p>
            <img src="../static/assets/img/book-shop2.jpg" alt="">
            <a target="_blank" href="https://www.amazon.com/dp/B0BPGQG621/ref=cm_sw_r_awdo_ZE502BXY4F1DKE3MD2GR_0" class="btn-read-more icono">Buy for Amazon <img src="../static/assets/img/Circled Up Right.png" alt=""></a>
            <p>Embark on a transformative journey with The Voices of 100 Women: A Groundbreaking Book Featuring Women All Around the World – Volume 1, an inspiring anthology that amplifies the diverse and powerful narratives of women from around the globe. This collection showcases 100 remarkable voices, each sharing their unique stories of resilience, strength, and triumph.</p>
            <p>Within these pages, you’ll discover a rich tapestry woven from personal essays, interviews, and reflective pieces. Each contribution offers an intimate glimpse into the lives of trailblazers, caregivers, innovators, and everyday heroes. From groundbreaking achievements that challenge the status quo to the quiet courage of women navigating individual challenges, this anthology highlights the universal yet deeply personal facets of womanhood.</p>
            <p>Explore themes of empowerment, identity, and solidarity as you encounter stories that resonate across cultures and continents, revealing the shared struggles and victories that unite us all. This collection captures the essence of women’s lived experiences, reminding us that every voice matters and contributes to a larger conversation about equality and strength.</p>
            <img src="../static/assets/img/book-shop3.jpeg" alt="">
            <a target="_blank" href="https://www.amazon.com/dp/B0BPGQG621/ref=cm_sw_r_awdo_ZE502BXY4F1DKE3MD2GR_0" class="btn-read-more icono">Buy for Amazon <img src="../static/assets/img/Circled Up Right.png" alt=""></a>
        </section>
    </main>

    <footer>
        <section class="section1-footer">
            <div class="logo-footer" >
                <img src="../static/assets/img/ft-log.png" alt="footer-logo">
            </div>
            <div>
                <h4>Quick Links</h3>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about-author.html">About Author</a></li>
                    <li><a href="./blogs.html">Blogs</a></li>
                    <li><a href="./book-shop.html">Book Shop</a></li>
                </ul>
            </div>
            <div>
                <h4>Information</h3>
                <ul>
                    <li><a href="./contact-us.html">Contact Us</a></li>
                    <li><a href="./faq.html">FAQ</a></li>
                    <li><a href="./privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="./terms-conditions.html">Terms & Conditions</a></li>
                </ul>
            </div>
        </section>
        <section class="section2-footer">
            <p>Copyright ©2023 Martie M. Smith. All Right Reserved.</p>
            <div class="div-footer">
                <a href="https://www.facebook.com/martie.smith.37" target="_blank"><img src="../static/assets/img/simbolo-de-la-aplicacion-de-facebook (1).png" alt=""></a>
                <a href="https://www.linkedin.com/in/martie-smith-8b062025/" target="_blank"><img src="../static/assets/img/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/@MarthaSmith-t4q" target="_blank"><img src="../static/assets/img/youtube.png" alt=""></a>
                <a href="https://www.instagram.com/vinnersary/" target="_blank"><img src="../static/assets/img/logotipo-de-instagram.png" alt=""></a>
                <a href="https://www.tiktok.com/@marthasmith83" target="_blank"><img src="../static/assets/img/tik-tok.png" alt=""></a>
            </div>
        </section>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>