<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="../static/assets/img/hamburguesa.png" alt class="menu-abrir" id="open">
        <h1 class="h1-responsive"><a href="../index.html"><img src="../static/assets/img/logo.png" alt=""></a></h1>
        <nav class="nav" id="nav">
            <img src="../static/assets/img/cerrar.png" class="btn-close" id="close" alt="">
            <ul class="nav-list">
                <li><a class="btn-menu active" href="./index.html">Home</a></li>
                <li><a class="btn-menu" href="./about-author.html">About Author</a></li>
                <h1><a class="btn-menu" href="../index.html"><img src="../static/assets/img/logo.png" alt="logo"></a></h1>
                <li><a class="btn-menu" href="./blogs.html">Blogs</a></li>
                <li><a class="btn-menu" href="./book-shop.html">Book Shop</a></li>
                <li><a class="btn-menu active contact-btn" href="./contact-us.html" > Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="contact-info">
            <h2>Contact Us</h2>
            <div class="div-info" >
                <div>
                    <p>Email</p>
                    <p>resiliencenourishesthesoul.com</p>
                </div>
                <div>
                    <p>Phone</p>
                    <p>+1 (919) 338-4061</p>
                </div>
            </div>
        </section>
        <section class="section-form-contact">
            <form action="" class="form-contact">
                <div>
                    <label for="">Name</label>
                    <input type="text" name="" id="" placeholder="Type here">
                </div>
                <div>
                    <label for="">Adress</label>
                    <input type="text" name="" id="" placeholder="Type here">
                </div>
                <div>
                    <label for="">Number phone</label>
                    <input type="text" name="" id="" placeholder="Type here">
                </div>
                <div>
                    <label for="">Birthday</label>
                    <input type="text" name="" id="" placeholder="Type here">
                </div>
                <div>
                    <label for="">Subject</label>
                    <input type="text" name="" id="" placeholder="Type here">
                </div>
                <div>
                    <label for="">Message (optional)</label>
                    <textarea name="" id="" placeholder="Type here"></textarea>
                </div>
                
                <button>Submit</button>
            </form>
        </section>
    </main>

    <footer>
        <section class="section1-footer">
            <div class="logo-footer" >
                <img src="../static/assets/img/ft-log.png" alt="footer-logo">
            </div>
            <div>
                <h4>Quick Links</h3>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about-author.html">About Author</a></li>
                    <li><a href="./blogs.html">Blogs</a></li>
                    <li><a href="./book-shop.html">Book Shop</a></li>
                </ul>
            </div>
            <div>
                <h4>Information</h3>
                <ul>
                    <li><a href="./contact-us.html">Contact Us</a></li>
                    <li><a href="./faq.html">FAQ</a></li>
                    <li><a href="./privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="./terms-conditions.html">Terms & Conditions</a></li>
                </ul>
            </div>
        </section>
        <section class="section2-footer">
            <p>Copyright ©2023 Martie M. Smith. All Right Reserved.</p>
            <div class="div-footer">
                <a href="https://www.facebook.com/martie.smith.37" target="_blank"><img src="../static/assets/img/simbolo-de-la-aplicacion-de-facebook (1).png" alt=""></a>
                <a href="https://www.linkedin.com/in/martie-smith-8b062025/" target="_blank"><img src="../static/assets/img/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/@MarthaSmith-t4q" target="_blank"><img src="../static/assets/img/youtube.png" alt=""></a>
                <a href="https://www.instagram.com/vinnersary/" target="_blank"><img src="../static/assets/img/logotipo-de-instagram.png" alt=""></a>
                <a href="https://www.tiktok.com/@marthasmith83" target="_blank"><img src="../static/assets/img/tik-tok.png" alt=""></a>
            </div>
        </section>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>