<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="../static/assets/img/hamburguesa.png" alt class="menu-abrir" id="open">
        <h1 class="h1-responsive"><a href="./index.html"><img src="../static/assets/img/logo.png" alt=""></a></h1>
        <nav class="nav" id="nav">
            <img src="../static/assets/img/cerrar.png" class="btn-close" id="close" alt="">
            <ul class="nav-list">
                <li><a class="btn-menu" href="./index.html">Home</a></li>
                <li><a class="btn-menu" href="./about-author.html">About Author</a></li>
                <h1><a class="btn-menu" href="./index.html"><img src="../static/assets/img/logo.png" alt="logo"></a></h1>
                <li><a class="btn-menu" href="./blogs.html">Blogs</a></li>
                <li><a class="btn-menu" href="./book-shop.html">Book Shop</a></li>
                <li><a class="btn-menu contact-btn" href="./contact-us.html" > Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="faq">
            <h2>Privacy Policy</h2>
            <div class="div-faq">
                <div>
                    <p id="p-privacy">I, Martie Smith, promise to protect the data you share on my website as if it were our own. I have created its privacy policy statement to help users understand how we collect, use, and safeguard their information. The term “user” in this privacy policy document refers to visitors of (Insert Website). The term “collected information” refers to data collected from (Insert Website). <br>
                        I shall never share your information with other entities that you have not authorized to act on your behalf. I’ll always ask your consent to send you material that we think is of value to you and collect only what is essential to serve you today and in the future.</p>
                </div>
                <div>
                    <p>What Information Do We Collect?</p>
                    <p>The information we receive on my website from you is voluntary. <br>
                        The information you provide helps us build a better website in terms of functionality and content. And with your permission, we may notify you of news that may be of interest to you. <br>
                        The data that we collect directly relates to the application or task that you have asked us to perform, such as a pick-up request. And as with the general information, we’ll use what you have provided to continue to build a better service.</p>
                </div>
                <div>
                    <p>Personal Information</p>
                    <p>When you interact with the website, with your consent, we receive and store various types of data, including the content you interact with, the date and time that you view the content, your order details, or the location associated with your IP address. We will also be able to access the comments that you mentioned under the posts mentioned on the website. <br>
                        We routinely utilize the data we collect to serve you more applicable advertisements and other marketing tools.</p>
                </div>
                <div>
                    <p>Additional Data</p>
                    <p>Links: We record how you interact with links across our services to operate our services. This includes links we send you in emails and links that appear on applications or websites. It also includes the links that you might click in order to confirm your book purchase on our website. If you click on an external link on our services, that website operator trace that you came from us. They may also gather your data, such as IP addresses and cookie identifiers. <br>
                        Cookies: Cookies are small pieces of information stored on your device. We use cookies to gather website usage data and to enhance our Services. We may use persistent and session cookies to better understand how you interact with our Services, monitor collective usage and web traffic routing on our Services, and improve and enhance our Services. Most Internet browsers automatically accept cookies. <br>
                        Our display advertising partner enables us to present you with retargeting advertising on other sites based on your previous interaction with our websites. The methods our partners employ do not collect personal information such as your name, email address, postal address, or telephone number.</p>
                </div>
                <div>
                    <p>Privacy Policies of Other Websites</p>
                    <p>Our website might contain links to other websites. Our privacy policy applies only to our website, so you should read their privacy policy if you click a link to another website.</p>
                </div>
                <div>
                    <p>Third-Party Distribution of Data</p>
                    <p>It is not our practice or policy to share your information with an outside organization or company. Only in those instances where we have written authorization from you to release information to an agent acting on your behalf will we do so.</p>
                </div>
                <div>
                    <p>Choice and Consent</p>
                    <p>The more we know about our cust omers, the better our ability to serve you and provide you with real value products and services. Our website is a voluntary information channel that is open to you at all times. You always have a choice regarding the tools you use and the information you provide. We don’t ask questions for the sake of asking questions but rather do so because it is pertinent to our ability to both serve and know you better.</p>
                </div>
                <div>
                    <p>Security</p>
                    <p>We implement a secure processing server on our site when collecting information to ensure a high level of security for your personal information entered, such as bank details and credit card information.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="section1-footer">
            <div class="logo-footer">
                <img src="../static/assets/img/ft-log.png" alt="footer-logo">
            </div>
            <div>
                <h4>Quick Links</h3>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about-author.html">About Author</a></li>
                    <li><a href="./blogs.html">Blogs</a></li>
                    <li><a href="./book-shop.html">Book Shop</a></li>
                </ul>
            </div>
            <div>
                <h4>Information</h3>
                <ul>
                    <li><a href="./contact-us.html">Contact Us</a></li>
                    <li><a href="./faq.html">FAQ</a></li>
                    <li><a href="./privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="./terms-conditions.html">Terms & Conditions</a></li>
                </ul>
            </div>
        </section>
        <section class="section2-footer">
            <p>Copyright ©2023 Martie M. Smith. All Right Reserved.</p>
            <div class="div-footer">
                <a href="https://www.facebook.com/martie.smith.37" target="_blank"><img src="../static/assets/img/simbolo-de-la-aplicacion-de-facebook (1).png" alt=""></a>
                <a href="https://www.linkedin.com/in/martie-smith-8b062025/" target="_blank"><img src="../static/assets/img/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/@MarthaSmith-t4q" target="_blank"><img src="../static/assets/img/youtube.png" alt=""></a>
                <a href="https://www.instagram.com/vinnersary/" target="_blank"><img src="../static/assets/img/logotipo-de-instagram.png" alt=""></a>
                <a href="https://www.tiktok.com/@marthasmith83" target="_blank"><img src="../static/assets/img/tik-tok.png" alt=""></a>
            </div>
        </section>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>