<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="../static/assets/img/hamburguesa.png" alt class="menu-abrir" id="open">
        <h1 class="h1-responsive"><a href="./index.html"><img src="../static/assets/img/logo.png" alt=""></a></h1>
        <nav class="nav" id="nav">
            <img src="../static/assets/img/cerrar.png" class="btn-close" id="close" alt="">
            <ul class="nav-list">
                <li><a class="btn-menu" href="./index.html">Home</a></li>
                <li><a class="btn-menu" href="./about-author.html">About Author</a></li>
                <h1><a class="btn-menu" href="./index.html"><img src="../static/assets/img/logo.png" alt="logo"></a></h1>
                <li><a class="btn-menu" href="./blogs.html">Blogs</a></li>
                <li><a class="btn-menu" href="./book-shop.html">Book Shop</a></li>
                <li><a class="btn-menu contact-btn" href="./contact-us.html" > Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="faq">
            <h2>Terms & Conditions</h2>
            <div class="div-faq">
                <div>
                    <p>Introduction</p>
                    <p>he following terms oversee your use of our website. <br> By using the website, you accept the following terms in full. If you disagree with the following terms or any part of these terms of use, you must not use this website <br> .The following website uses cookies to improve your experience. By using this website and agreeing to the following terms of use, you depict your approval of [insert website] use of cookies in accordance with the terms of our privacy policy.</p>
                </div>
                <div>
                    <p>License to Use the Website</p>
                    <p>Unless otherwise stated, we own the content and intellectual property rights on the website. All these intellectual property rights are protected under the license. <br> You may view, print pages, and download (for caching purposes only) or other product information from the website for your personal use in compliance with the restrictions set out below and elsewhere in these terms.
                    </p>
                </div>
                <div>
                    <p>You must not:</p>
                    <ul>
                        <li>Republish content from the following website, rent, sell, or sub-license content from this website</li>
                        <li>Show any content from the website in public</li>
                        <li>Duplicate, reproduce, copy, or exploit material present on this website for commercial purposes</li>
                        <li>Modify, edit, or alter any content on the following website</li>
                        <li>Redistribute material from the website except for material specifically and expressly made available for redistribution purposes by us</li>
                    </ul>
                </div>
                <div>
                    <p>Acceptable Use</p>
                    <p>You must not use the following website in any way that causes or may cause damage to the website or disturb the widespread accessibility of this website, or in any way which is harmful, unlawful, or fraudulent, or concerning any prohibited or illegal activity or purpose. <br> You must not use this website to store, host, copy, receive, publish, use, or send any material or content that consists of (or is connected to) any spyware, virus, worm, or identical program. <br> You must not conduct any automated data recovery or collection activities (including, without limitation, scraping, data mining, data extraction, and data harvesting) on or concerning this website without our written consent. <br> You must not use this website to send or receive any kind of unsolicited commercial messages. <br> You must not use this website for marketing purposes without receiving consent from us.
                    </p>
                </div>
                <div>
                    <p>No Warranties</p>
                    <p>This website is offered “as is” without warranties or representations, express or implied. <br> We make no representations or warranties in connection to this website or the data and contents offered on this website. <br> We do not guarantee the following:</p>
                    <ul>
                        <li>The following website will be available all the time, or available at all</li>
                        <li>The material on this website is true, accurate, or non-misleading. <br> Nothing mentioned on this website is meant to offer advice of any kind.</li>
                    </ul>
                </div>
                <div>
                    <p>Limitations of Liability</p>
                    <p>We are not liable to you in any case or by any means. <br> Otherwise, concerning this website:</p>
                    <ul>
                        <li>To the extent that the website is offered free of charge for direct or indirect loss</li>
                        <li>For any losses related to business, loss of revenue, income, or anticipated profits, loss of agreements or business ties, loss of reputation or goodwill, or loss or corruption of information or data.</li>
                    </ul>
                </div>
                <div>
                    <p>Reasonableness</p>
                    <p>By using this website, you approve that the limitations of liability set out in this disclaimer are reasonable. <br> If you do not find them reasonable, you must stop using the website with immediate effect. <br> Without prejudice, you approve that the limitations of warranties and liability set out in this disclaimer will protect our employees, agents, subsidiaries, and successors.</p>
                </div>
                <div>
                    <p>Breaches</p>
                    <p>Without prejudice to our other rights under these terms of use, if you breach these terms of use in any way, we may take such action as our legal means deems appropriate. The action may deal with the potential breach, including suspending or limiting your access to the website, preventing your access, blocking your access to the website, and/or bringing court proceedings against you.</p>
                </div>
                <div>
                    <p>Unenforceable Provisions</p>
                    <p>Suppose any provision of the website’s terms of use is or is found to be unenforceable under the law. In that case, that will not affect the enforceability of the other conditions mentioned in this website’s terms of use.</p>
                </div>
                <div>
                    <p>Other Parties</p>
                    <p>You accept that, as a sole proprietorship entity, we have an interest in governing the personal liability of our employees. You agree that you will not establish any claim in your personal capacity or through any third-party ally against our employees concerning any losses you may sustain in connection with the website.</p>
                </div>
                <div>
                    <p>Indemnity</p>
                    <p>You hereby indemnify us and undertake to keep us indemnified against any damages, costs, potential losses, liabilities, and expenses (including without limitation legal expenses and any amounts paid by us to an external party in settlement of a claim or dispute on the advice of our legal advisers) incurred or suffered by us arising out of any breach by you of any provision of the following terms of use, or arising out of any claim that you have breached any part or provision of the terms of use stated in this agreement.</p>
                </div>
                <div>
                    <p>Assignment</p>
                    <p>We may transfer, sub-contract, or otherwise deal with the website rights and/or obligations under these terms of use without obtaining your consent or notifying you. You may not sub-contract, transfer, or otherwise deal with your rights and/or obligations under the terms of use mentioned in this agreement.</p>
                </div>
                <div>
                    <p>Entire Agreement</p>
                    <p>These terms of use, together with our privacy policy, constitute the entire agreement between you and the entity concerning your use of the website and supersede all previous contracts about your use of the following website.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="section1-footer">
            <div class="logo-footer" >
                <img src="../static/assets/img/ft-log.png" alt="footer-logo">
            </div>
            <div>
                <h4>Quick Links</h3>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about-author.html">About Author</a></li>
                    <li><a href="./blogs.html">Blogs</a></li>
                    <li><a href="./book-shop.html">Book Shop</a></li>
                </ul>
            </div>
            <div>
                <h4>Information</h3>
                <ul>
                    <li><a href="./contact-us.html">Contact Us</a></li>
                    <li><a href="./faq.html">FAQ</a></li>
                    <li><a href="./privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="./terms-conditions.html">Terms & Conditions</a></li>
                </ul>
            </div>
        </section>
        <section class="section2-footer">
            <p>Copyright ©2023 Martie M. Smith. All Right Reserved.</p>
            <div class="div-footer">
                <a href="https://www.facebook.com/martie.smith.37" target="_blank"><img src="../static/assets/img/simbolo-de-la-aplicacion-de-facebook (1).png" alt=""></a>
                <a href="https://www.linkedin.com/in/martie-smith-8b062025/" target="_blank"><img src="../static/assets/img/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/@MarthaSmith-t4q" target="_blank"><img src="../static/assets/img/youtube.png" alt=""></a>
                <a href="https://www.instagram.com/vinnersary/" target="_blank"><img src="../static/assets/img/logotipo-de-instagram.png" alt=""></a>
                <a href="https://www.tiktok.com/@marthasmith83" target="_blank"><img src="../static/assets/img/tik-tok.png" alt=""></a>
            </div>
        </section>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>