<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header-testimonials">
        <img src="../static/assets/img/hamburguesa.png" alt class="menu-abrir" id="open">
        <h1 class="h1-responsive"><a href="./index.html"><img src="../static/assets/img/logo.png" alt=""></a></h1>
        <nav class="nav" id="nav">
            <img src="../static/assets/img/cerrar.png" class="btn-close" id="close" alt="">
            <ul class="nav-list">
                <li><a class="btn-menu" href="./index.html">Home</a></li>
                <li><a class="btn-menu" href="./about-author.html">About Author</a></li>
                <h1><a class="btn-menu" href="./index.html"><img src="../static/assets/img/logo.png" alt="logo"></a></h1>
                <li><a class="btn-menu" href="./blogs.html">Blogs</a></li>
                <li><a class="btn-menu" href="./book-shop.html">Book Shop</a></li>
                <li><a class="btn-menu contact-btn" href="./contact-us.html" > Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="testimonials-section">
            <h2 class="h2-testimonials">What Our Happy Readers Are Saying</h2>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>I am happy to be able to read this excellent book and highly recommend it. I will read it again and again. Martie’s story is shockingly impactful and grasps your attention with her every experience lived. She is a great woman who inspires you to rise from the ashes and is an excellent example of perseverance, a warrior, and steadfastness. She has gone through many trials and painful, unexpected circumstances that mark a before and after in her life. Despite all of that, she did not mind stumbling and falling; she rose more vibrant than ever.
                    Thank you for sharing your story that will impact many. Thank you for remembering with beautiful words that if you are going to dream, it be big and significant. That one never has to adapt to what does not make you happy because there is always light that guides you. Still, to observe it, you must ignite the light within your heart, release your potential and break the prejudices and chains that limit being who you are destined to be. Thank you for inspiring people to REINVENT themselves, love each other very much, and dare to activate happiness—a massive hug to a resilient woman.
                </p>
                <p class="t-author">
                    Dr. Jessica Acosta, Psychologist, Culiacan, Sinaloa Mexico C. A.
                </p>
            </div>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>
                    I firmly believe anyone who reads this book will follow the tips Martie offers in this book about Resilience. There is always something new to learn from her stories. Something worth mentioning is that although she is not an actual mother, her advice is very precious and presented with humility, and she is like a mom to me.
                </p>
                <p class="t-author">
                    Maria de Los Angeles, Chef and single mom, Raleigh, NC, USA
                </p>
            </div>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>
                    Martie is an extraordinary being of light and has great charisma. I am sure this book offers much to give with lots of love and sharing from the heart. I consider her a great friend and family despite only knowing her via Zoom. I am sure Martie’s book will offer so much with lots of love and sharing from the heart.
                </p>
                <p class="t-author">
                    Rossy Reategui, Biologist, Lima, Peru, S.A.
                </p>
            </div>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>
                    We identify with Martie’s acceptance of her origin, knowing her experience of moving numerous times. Martie was raised, in essence, bi-culturally. She skillfully embraced the Latin American and Anglo cultural background and has impressed the community. She is well-recognized, appreciated, and loved; many people remember her potential to help many, especially the youth.
                </p>
                <p class="t-author">
                    David Olarte and Patricia Palomino, International Business Strategists, Cary, N.C. USA
                </p>
            </div>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>
                    Martie Smith is an example of life to follow. An inspiration for everyone. This book is full of inspiration and motivation based on a true story.
                </p>
                <p class="t-author">
                    Maju Ruiz, Enneagram Trainer, Argentina, S.A.
                </p>
            </div>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>
                    Thank you for sharing your story that will impact many. Thank you for remembering with beautiful words that if you are going to dream, it be big and significant. That one never has to adapt to what does not make you happy because there is always light that guides you. Still, to observe it, you must ignite the light within your heart, release your potential.
                    It is an honor to share the experience and wisdom gained with my friend Martie Smith. A woman with great willpower to move forward, leaving behind bitter life experiences and deciding to transmute bad times into innate and pure wisdom. She shows us that it’s always possible to resume our lives even in adversity, and she exemplifies resilience. It will be a significant enrichment to be able to read every line of this great book of her life.
                </p>
                <p class="t-author">
                    Tessy Arias, International TV Producer, and Host, Mexico, C.A.;
                </p>
            </div>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>
                    Of course, I indeed consider Martie Smith, an ultra-resilient woman. I know she is resilient because I know her story. I also know where she is now and that she has the potential to go extremely far. I applaud and congratulate her on writing this book.
                </p>
                <p class="t-author">
                    Antonio Arreguin Founder of the Ibero-American Institute of Applied Neurosciences (IINA),
                    Doctorate Honoris Causa, Coach Mentor, and Marketer, Mexico City, Mexico, C.A.
                </p>
            </div>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>
                    I expected no less from this magnificent literary work that speaks of Resilience. I know Martie perfectly well, and her ability to adapt to adverse situations is enormous. Being a person who lived and knew many cultures makes this woman a natural-born and fighting leader. I am grateful to her for allowing me to be part of her life.
                </p>
                <p class="t-author">
                    Maximiliano Baruffaldi, Ex- Accredited Official Trainer of the Secret University TheSecret.es, European Academy Expert in Neuropersuation, Toledo, Spain, Europe
                </p>
            </div>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>
                    Martie’s story of resilience, trust in God, and belief in service to others is a spirit-led witness to the faith, love, charity, and wholly given despite the personal sacrifice and demand today; Martie offers an open, vulnerable window required. As a friend and ally in what it means to be a believer in Christ and how God transforms our lives when we are willing to let Him lead. May her story inspire you to let God in.
                </p>
                <p class="t-author">
                    Sandra Bueno, Strategic Life Coach, Cary, NC, USA
                </p>
            </div>
            <div class="testimonio">
                <div class="side-left"></div>
                <div class="side-right"></div>
                <p>
                    This book is honest and straightforward; it will guide you in the right direction, no matter your path. She always makes herself available to you along the way.
                </p>
                <p class="t-author">
                    Gabriela Jimenez, Caregiver, Apex, NC, USA
                </p>
            </div>
        </section>
    </main>
    <footer>
        <section class="section1-footer">
            <div class="logo-footer" >
                <img src="../static/assets/img/ft-log.png" alt="footer-logo">
            </div>
            <div>
                <h4>Quick Links</h3>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about-author.html">About Author</a></li>
                    <li><a href="./blogs.html">Blogs</a></li>
                    <li><a href="./book-shop.html">Book Shop</a></li>
                </ul>
            </div>
            <div>
                <h4>Information</h3>
                <ul>
                    <li><a href="./contact-us.html">Contact Us</a></li>
                    <li><a href="./faq.html">FAQ</a></li>
                    <li><a href="./privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="./terms-conditions.html">Terms & Conditions</a></li>
                </ul>
            </div>
        </section>
        <section class="section2-footer">
            <p>Copyright ©2023 Martie M. Smith. All Right Reserved.</p>
            <div class="div-footer">
                <a href="https://www.facebook.com/martie.smith.37" target="_blank"><img src="../static/assets/img/simbolo-de-la-aplicacion-de-facebook (1).png" alt=""></a>
                <a href="https://www.linkedin.com/in/martie-smith-8b062025/" target="_blank"><img src="../static/assets/img/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/@MarthaSmith-t4q" target="_blank"><img src="../static/assets/img/youtube.png" alt=""></a>
                <a href="https://www.instagram.com/vinnersary/" target="_blank"><img src="../static/assets/img/logotipo-de-instagram.png" alt=""></a>
                <a href="https://www.tiktok.com/@marthasmith83" target="_blank"><img src="../static/assets/img/tik-tok.png" alt=""></a>
            </div>
        </section>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>